<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taco Cloud</title>
  </head>
  <body>
    <h1>Design A Taco, Taco Cloud Form</h1>
    <img th:src="@{/images/TacoCloud.png}" alt="" />

    <form method="POST" th:object="${taco}">
      <div class="grid">
        <div class="ingredient-group" id="wraps">
          <h3>Designate your wraps:</h3>
          <div th:each="ingredient : ${wrap}">
            <input
              th:field="*{ingredients}"
              type="checkbox"
              th:value="${ingredient.id}"
            />
            <span th:text="${ingredient.name}">INGREDIENT</span>
          </div>
        </div>

        <h3>Submit your creation</h3>
        <input type="text" th:field="*{name}">
        <button>Submit Your Taco</button>
      </div>
    </form>
  </body>
</html>
