<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    
    <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
        <h1>Order your taco creations!</h1>

        <img th:src="@{/images/TacoCloud.png}" />

        <h3>Your Tacos In This Order:</h3>
        <a th:href="@{/design}" id="another">Design another Taco</a><br/>
        <ul th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">taco name</span>
        </ul>
    </form>
</body>
</html>